.c-card {
    padding-left: 2.0rem;
    padding-right: 2.0rem;
    padding-bottom: 6.0rem;
    text-align: center;

    @include min-screen($BREAK_POINT_PC) {
        flex: 1;
    }

    &__title {
        margin-bottom: 1.0rem;
        font-size: 2.0rem;
    }

    &__text {
        margin-bottom: 2.0rem;
        font-size: 1.4rem;
        line-height: 1.8;
        opacity: 0.8;
    }

    &__icon {
        display: inline-block;
        margin-bottom: 2.0rem;
        font-size: 4.0rem;
        width: 2em;
        line-height: 2em;
        border-radius: 50%;
        text-align: center;
        background-color: $ICON_BK_COLOR;
        color: $ICON-COLOR;
    }
}
